.postAvatar {
    float: left;
}
.postAvatarMobile {
}

.tiktokAvatar {
    cursor: unset;
    width: 56px;
    height: 56px;
    display: flex;
}
.tiktokAvatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}
.plusIcon {
    position: absolute;
    left: 50%;
    top: 24px;
    transform: translate(-50%, 50%);
    width: 24px;
    height: 24px;
}