.authorInfo {
    display: flex;
    flex-flow: row wrap;
    margin-right: 150px;
}
.authorInfoMobile {
    margin-right: 0px;

}
.authorInfoMobile a {
    color: white;
}
.authorId {
    text-decoration: none;
    margin-right: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0px;
}
.authorNickName {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0px;
}
.underline {
    text-decoration: underline;
}
.verified {
    display: inline-block;
    width: 14px;
    height: 14px;
    font-size: 0px;
    vertical-align: middle;
    margin-left: 4px;
    margin-top: -3px;
}
