.videoMeta {
    color: rgb(18, 18, 18);
    flex: 0 0 auto;
    font-weight: normal;
    margin-bottom: 0px;
    word-break: break-word;
    margin-right: 150px;
}
.videoMetaMobile {
    color: white;
    margin-right: 0;
}