.videoWrapper{
    position: relative;
    scroll-snap-align: start;
    width: calc(0.56 * (450px + ((100vw - 768px) / 1152) * 100));
    height: calc(450px + ((100vw - 768px) / 1152) * 100);
}
.videoWrapperMobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
}
.video {
    width: 100%;
    height: 100%;
}
.buffered {
    position: absolute;
    top: 50%;
    left: 50%;

}
.videoPlayer {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin-right: 150px;
}

.styleLayerMask {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 200px;
    pointer-events: none;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.playBar {

}
.playBarMobile {
    position: absolute;
    left: 50%;
    bottom: 40px
}
.counterBar {
    position: absolute;
    right: -64px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.counterBarMobile {
    right: 0px;
    bottom: 200px;
    z-index: 10;
    padding: 0 10px 30px;
}
.counterBarAvatar {
    width: 48px;
    height: 48px;
    margin-bottom: 15px;

}

.counterBarAvatar span {
    width: 48px;
    height: 48px;
}
.error {
    position: absolute;
    width: 100%;
    bottom: 5px;
    font-size: 12px;
    color: white;
    text-align: center;
    justify-content: center;
}