.userHead {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #161823;
    background-color: #fff;
    text-align: center;
    line-height: 44px;
    font-size: 17px;
    /*padding: 0 18px;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 44px;
    font-weight: 700;
    border-bottom: 0.5px solid rgba(22,24,35,0.08);;
}
.userHeadCenter {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 17px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
    margin-right: 24px;
    padding: 0 42px 0 18px;
}
.userHeadLeft {
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 24px;
    padding-left: 18px;

}
.userHeader {
    flex: 0 0 auto;
    position: relative;
    margin-bottom: 20px;
    width: 594px;
    box-sizing: border-box;
    padding-right: 52px;
}
.userHeaderMobile {
    width: 100%;
    padding: 8px 0 20px;
    border-top: 0.5px solid lightgray;
    margin-bottom: 0;
}
.userHeader .userInfo {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 84px;
}
.userHeader .userInfoMobile {
    flex-direction: column;
}
.countInfos{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 22px;
    color: rgba(18, 18, 18, 0.75);
}
.countInfosMobile {
    justify-content: space-around;
    margin-top: 0;
}
.userDesc {
    margin-top: 10px;
    font-weight: 400;
    color: #121212;
    white-space: pre-line;
}
.userDescMobile {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
}
.userLink {
    font-weight: 700;
    margin-top: 5px;
}
.userLinkMobile {
    justify-content: center;
    display: flex;
}
.userLink a{
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    height: 22px;
    max-width: 236px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #161823;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: center left;
    background-image: url(../../UI/icons/linkIcon.svg);
}
.userLink a:hover {
    text-decoration: underline;
}