.loaderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    height: 100%;
}
.loaderHeight60 {
    height: 60vh;
}
.loaderHeight80 {
    height: 80vh;
}