.lockedPage {
  padding-top: 160px;
  padding-bottom: 228px;
  text-align: center;
}
.lockedPage img {
  margin-bottom: 24px;
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 8px;
  color: rgb(18, 18, 18);
}
.desc {
  max-width: 480px;
  display: inline-block;
  font-weight: 400;
  color: rgba(18, 18, 18, 0.75);
}
