.videoFeedItem {
    position: relative;
    display: flex;
    justify-content: center;
    float: left;
    border-right: 1px solid rgb(245, 245, 245);
    border-bottom: 1px solid rgb(245, 245, 245);
    /*background-color: rgba(22, 24, 35, 0.06);*/
    width: 33%;
    min-height: 22vw;
}
.videoFeedItemMobile {
    min-height: 45vw;
}
.videoPlayer {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.videoCardMask {
    position: absolute;
    width: 100%;
    bottom: 3px;
    height: 50px;
    background: linear-gradient(rgba(22, 24, 35, 0) 2.92%, rgba(22, 24, 35, 0.5) 98.99%);
    padding: 13px 10px 17px;
    box-sizing: border-box;
}
.videoCardMask img {
    transform: translate(0px, 6px);
}
.videoCount {
    font-weight: 600;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    padding-left: 4px;
}
.buffered {
    position: absolute;
    top: 50%;
    left: 50%;
}