.imageWrap {
    position: relative;
    cursor: pointer;
}
.tiktokAvatar {
    cursor: unset;
    width: 116px;
    height: 116px;
    display: flex;
}
.tiktokAvatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}
.tiktokAvatarMobile {
    width: 96px;
    height: 96px;
    margin-bottom: 12px;
}
